### Name: Abhishek Sahu
### Regs. no: 2241019164
### Section: 07
### Branch: CSE
### Sub: Data Science Workshop-1

#### Q1. What is a List Object in Python? Write the syntax, how we create a List object? For the following create List object of each scenario and display the output.

#### (a) List of vowels. (b) List of consonants.

In [3]:
n=input("Enter a char: ")
l=['a','e','i','o','u']
if n in l:
    print("It's a vowel")
else:
    print("It's a consonant")

Enter a char: d
It's a consonant

#### (c) List of even integers within 1 to 20.

In [6]:
l=[]
for i in range(1,20):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

#### (d) List of odd integers within 1 to 20.

In [7]:
l=[]
for i in range(1,20):
    if i%2!=0:
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### (e) List of all subjects in this semester.

In [10]:
n=int(input("Enter no. of subs: "))
l=[]
print("All sub in this sem are: ")
for i in range(n):
    i=input()
    l.append(i)
print(l)

Enter no. of subs: 5
ytccy
ytd
yxc
ftu
gc
['ytccy', 'ytd', 'yxc', 'ftu', 'gc']

#### (f) List of all subject codes in this semester.

In [11]:
a=int(input("Enter no. of subs: "))
l=[]
print("All sub codes in this sem are: ")
for i in range(n):
    i=input()
    l.append(i)
print(l)

Enter no. of subs: 5
All sub codes in this sem are:
342
244
424
2352
2421
['342', '244', '424', '2352', '2421']

#### (g) List of temperatures from last 10 days.

In [12]:
l=[]
print("Temperatures from last 10 days: ")
for i in range(10):
    i=input()
    l.append(i)
print(l)

Temperatures from last 10 days:
23
1
2

3
3
3
33#
3
3
['23', '1', '2', '', '3', '3', '3', '33#', '3', '3']

#### Q2. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every output in your assignment copy.

In [7]:
#(a)
listobj=range(15)
print(listobj)
print(list(listobj))

range(0, 15)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [5]:
#(b)
somelist=['Bob','Joe','Will',55,'Will','XXXXX',100.55]
print(type(somelist))
print(somelist[0])
print(somelist[-1])
print(somelist[3])
print(somelist[-3])
print(somelist[2])
print(somelist[2:5])
print(somelist[-4:-1])
print(somelist[:5])
print(somelist[2:])
print(somelist[:])
print(somelist[0:6:2])
print(somelist[::2])
print(somelist[::-1])
print(somelist[1:5:2])

<class 'list'>
Bob
100.55
55
Will
Will
['Will', 55, 'Will']
[55, 'Will', 'XXXXX']
['Bob', 'Joe', 'Will', 55, 'Will']
['Will', 55, 'Will', 'XXXXX', 100.55]
['Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55]
['Bob', 'Will', 'Will']
['Bob', 'Will', 'Will', 100.55]
[100.55, 'XXXXX', 'Will', 55, 'Will', 'Joe', 'Bob']
['Joe', 55]

In [8]:
#(c)
list1=[2,3,7,None]
list2=['Foo','Bar','Baz']
list2=list1
list2[2]="SampleText"
print(list1)
print(list1[2])
print(list2[2])
print(list2)

[2, 3, 'SampleText', None]
SampleText
SampleText
[2, 3, 'SampleText', None]

In [15]:
#(d)
wordlist=['Foo','Bar','Baz']
wordlist[2]='peekaboo'
print(wordlist)
wordlist.append("dwarf")
print(wordlist)
wordlist.insert(1,"red")
print(wordlist)
wordlist.pop(2)
print(wordlist)
wordlist.append("foo")
print(wordlist)
wordlist.remove("foo")
print(wordlist)
print("dwarf" in wordlist)
print("dwarf" not in wordlist)

['Foo', 'Bar', 'peekaboo']
['Foo', 'Bar', 'peekaboo', 'dwarf']
['Foo', 'red', 'Bar', 'peekaboo', 'dwarf']
['Foo', 'red', 'peekaboo', 'dwarf']
['Foo', 'red', 'peekaboo', 'dwarf', 'foo']
['Foo', 'red', 'peekaboo', 'dwarf']
True
False

In [17]:
#(e)
[4,None,'foo']+[7,8,2,3]
list1=[4,None,'foo']+[7,8,2,3]
print(list1)
x=['A',('B','C')]
x.extend(list1)
print(x)
print(list1)
a=[7,2,5,1,3,73,51,7,3,9,11,1,1,10,9]
print(a)
a.sort()
print(a)
b=['saw','small','he','foxes','six']
b.sort(key=len)
print(b)
b.sort()
print(b)

[4, None, 'foo', 7, 8, 2, 3]
['A', ('B', 'C'), 4, None, 'foo', 7, 8, 2, 3]
[4, None, 'foo', 7, 8, 2, 3]
[7, 2, 5, 1, 3, 73, 51, 7, 3, 9, 11, 1, 1, 10, 9]
[1, 1, 1, 2, 3, 3, 5, 7, 7, 9, 9, 10, 11, 51, 73]
['he', 'saw', 'six', 'small', 'foxes']
['foxes', 'he', 'saw', 'six', 'small']

#### Q3. Develop Python Programs for the following below scenario.
#### (a) Write a Python Program which will prompt user to ask a range of integer(lower limit and higher limit) value. Once you receive the input values from the user programmatically store odd numbers and even numbers into separate list objects and display them as output.

In [19]:
l= int(input ("Enter the Lowest Range Value: "))  
u= int(input ("Enter the Upper Range Value: "))
list1=[]
list2=[]
for i in range (l, u + 1):
    if i%2==0:
        list1.append(i)
    else:
        list2.append(i)
print("List of even no are: ",list1)
print("List of odd no are: ",list2)

Enter the Lowest Range Value: 1
Enter the Upper Range Value: 100
List of even no are:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
List of odd no are:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#### (b) Write a Python Program which will prompt user to enter a positive integer value. Once you receive the input, find factors of the integer and store into a list objects and display them as output.

In [20]:
n = int(input("Enter a number: "))
l=[]
for i in range(1,n+1):
    if n%i==0:
        l.append(i)
print("Factors are: ",l)

Enter a number: 10
Factors are:  [1, 2, 5, 10]

#### (c) Write a Python Program which will prompt user to enter a range of integer(lower limit and higher limit) value, list down all prime numbers and composite numbers into separate list objects and display them.

In [24]:
l= int(input ("Enter the Lowest Range Value: "))  
u= int(input ("Enter the Upper Range Value: "))  
list1=[]
list2=[]
for i in range (l, u + 1):  
    if i > 1:  
        for j in range (2, i):  
            if (i % j) == 0:
                list2.append(i)
                break
        else: 
            list1.append(i)
print("Prime Numbers in the range are: ",list1)  
print("Composite Numbers in the range are: ",list2)

Enter the Lowest Range Value: 100
Enter the Upper Range Value: 200
Prime Numbers in the range are:  [101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]
Composite Numbers in the range are:  [100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 143, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 169, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 187, 188, 189, 190, 192, 194, 195, 196, 198, 200]

#### Q4. What is a Tuple Object in Python? Write the syntax, how we create a Tuple object? For the following scenario create Tuple object of each scenario and display them as output.

Tuple is one of  4-built in data types in python used to store collection of data. It is a collection which is ordered and unchangable. Thiese are written inside round brackets.
SYNTAX :
    var_name= (AT1, at2, at3...)
    We can also declare a tuple by using typle keyword.

#### (a) Tuple of few student’s information such as roll number, name, branch, specialization, mobile, email id etc.

In [3]:
std_info=(2241019164,'Abhishek sahu','CSE', 7, 'Data science')
print(std_info)

(2241019164, 'Abhishek sahu', 'CSE', 7, 'Data science')

#### (b) Tuple of few book’s information such as ISBN Number, book title, category, author, number of authors etc.

In [4]:
book_info=("Falut in my stars","Author-Unknown",5350)
print(book_info)

('Falut in my stars', 'Author-Unknown', 5350)

#### (c) Tuple of few parts of a vehicle.

In [5]:
parts=('Engine','seat','clutch')
print(parts)

('Engine', 'seat', 'clutch')

#### (d) Tuple of few institution details such as name of the institute, departments, no. of students, address etc.

In [6]:
insti=('ITER','CSE',4000,"Khandagiri")
print(insti)

('ITER', 'CSE', 4000, 'Khandagiri')

#### (e) Create tuple objects from List objects at all scenario in Question No. 1.

In [5]:
tupleObj = (4, 5, 6, 'Ram', 'Hari', 120.5643)
print(tupleObj)
print(type(tupleObj))
tuple((2, 5, 1, 9, 5, 3, 8))
tuple((4, 5, 6))
x = tuple([2, 5, 1, 9, 5, 3, 8])
print(x)
y = x
print(type(y))
tupleObj = tuple("string")
print(tupleObj)

(4, 5, 6, 'Ram', 'Hari', 120.5643)
<class 'tuple'>
(2, 5, 1, 9, 5, 3, 8)
<class 'tuple'>
('s', 't', 'r', 'i', 'n', 'g')

#### Q5. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every output in your assignment copy.

In [8]:
#(a)
someList = ['Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55]
someTuple = tuple(someList)
print(type(someTuple))
print(someTuple[0])
print(someTuple[-1])
print(someTuple[3])
print(someTuple[-3])
print(someTuple[2])
print(someTuple[2:5])
print(someTuple[-4:-1])
print(someTuple[:5])
print(someTuple[2:])
print(someTuple[:])
print(someTuple[0:6:2])
print(someTuple[::2])
print(someTuple[::-1])
print(someTuple[1:5:2])

<class 'tuple'>
Bob
100.55
55
Will
Will
('Will', 55, 'Will')
(55, 'Will', 'XXXXX')
('Bob', 'Joe', 'Will', 55, 'Will')
('Will', 55, 'Will', 'XXXXX', 100.55)
('Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55)
('Bob', 'Will', 'Will')
('Bob', 'Will', 'Will', 100.55)
(100.55, 'XXXXX', 'Will', 55, 'Will', 'Joe', 'Bob')
('Joe', 55)

In [12]:
#(b)
nestedTuple = (4, 5, 6), (7, 8)
print(nestedTuple)
nestedTuple[1]
tup = tuple(['foo', [1, 2], True])
tup[2] = False #Assignment doesn't work in tuple
tup[1].append(3)
print(tup)

((4, 5, 6), (7, 8))
('foo', [1, 2, 3], True)

In [9]:
#(c)
tup = (4, 5, 6)
a, b, c = tup
print(b)
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
print(d)
a, b = 1, 2
a, b = b, a
print(a)
print(b)
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a=a, b=b, c=c')          
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a)
print(b)
print(rest)

5
7
2
1
a=a, b=b, c=c
a=a, b=b, c=c
a=a, b=b, c=c
1
2
[3, 4, 5]

In [19]:
#(d)
(4, None, 'foo') + (6, 0) + ('bar',)
tuple1 = (4, None, 'foo') + (6, 0) + ('bar',)
print(tuple1)
print(('foo', 'bar') * 4)
a = (1, 7, 2, 7, 2, 2, 7, 3, 7, 4, 7, 7, 2, 7)
print(a.count(7))
print(len(a))

(4, None, 'foo', 6, 0, 'bar')
('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')
7
14

#### Q6. Develop Python Programs for the following below scenario.
#### (a) Write a Python Program which will prompt user to ask enter his/her name, department, mobile number, roll number etc. Once you receive the input values from the user programmatically store these values into tuple objects and finally display them as output. Try to enter details for at least 5 objects.

In [10]:
name=input('Enter your name: ')
department=input('Enter your Department: ')
mobile=int(input('Enter your number: '))
roll=int(input('Enter your roll: '))
branch=input('Enter your branch: ')
info=(name,department,mobile,roll,branch)
print(info)

Enter your name: Abhishek sahu
Enter your Department: CSE
Enter your number: 8598957333
Enter your roll: 19164
Enter your branch: B.tech
('Abhishek sahu', 'CSE', 8598957333, 19164, 'B.tech')

#### (b) For all of the questions provided in Question No. 3, try to store all those values into Tuple objects display them.

In [13]:
#(1)
l= int(input ("Enter the Lowest Range Value: "))  
u= int(input ("Enter the Upper Range Value: "))
list1=[]
list2=[]
for i in range (l, u + 1):
    if i%2==0:
        list1.append(i)
    else:
        list2.append(i)
even=tuple(list1)
odd=tuple(list2)
print("Tuple of even no are: ",even)
print("Tuple of odd no are: ",odd)

Enter the Lowest Range Value: 1
Enter the Upper Range Value: 10
Tuple of even no are:  (2, 4, 6, 8, 10)
Tuple of odd no are:  (1, 3, 5, 7, 9)

In [14]:
#(2)
n = int(input("Enter a number: "))
l=[]
for i in range(1,n+1):
    if n%i==0:
        l.append(i)
fact=tuple(l)
print("Factors are: ",fact)

Enter a number: 5
Factors are:  (1, 5)

In [16]:
#(3)
l= int(input ("Enter the Lowest Range Value: "))  
u= int(input ("Enter the Upper Range Value: "))  
list1=[]
list2=[]
for i in range (l, u + 1):  
    if i > 1:  
        for j in range (2, i):  
            if (i % j) == 0:
                list2.append(i)
                break
        else: 
            list1.append(i)
prime=tuple(list1)
comp=tuple(list2)
print("Prime Numbers in the range are: ",prime)  
print("Composite Numbers in the range are: ",comp)

Enter the Lowest Range Value: 100
Enter the Upper Range Value: 200
Prime Numbers in the range are:  (101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199)
Composite Numbers in the range are:  (100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 143, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 169, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 187, 188, 189, 190, 192, 194, 195, 196, 198, 200)

#### Q7. What is a Dictionary Object in Python? Write the syntax, how we create a Dictionary object? For the following questions create Dictionary object of each scenario and display them as output.
#### (a) Dictionary of few peoples as key and their mobile numbers as values(at least for 10 key).

In [7]:
d1={}
for i in range(3):
    name=input("Enter the name: ")
    phn=int(input("Enter the phone no: "))
    d1[name]=phn
print(d1)

Enter the name: abhishek
Enter the phone no: 5674
Enter the name: ajay
Enter the phone no: 3636
Enter the name: rohan
Enter the phone no: 436737
{'abhishek': 5674, 'ajay': 3636, 'rohan': 436737}

#### (b) Dictionary of few books as key and their authors(authors should be a list object) as values.

In [10]:
d2={}
for i in range(3):
    book=input("Enter the book name: ")
    author=input("Enter the author: ")
    d2[author]=book
print(d2)

Enter the book name: dust
Enter the author: jin
Enter the book name: curse
Enter the author: me
Enter the book name: SWIM
Enter the author: none
{'jin': 'dust', 'me': 'curse', 'none': 'SWIM'}

#### (c) Dictionary of different types numbers(such as prime, composite, even, odd etc.) as keys and their examples as values.

#### (d) Dictionary of engineering branches as keys and their specializations as values.

In [11]:
d4={}
for i in range(2):
    branch=input("Enter your branch: ")
    spcl=input("Enter the specialisation: ")
    d4[branch]=spcl
print(d4)

Enter your branch: cse
Enter the specialisation: data science
Enter your branch: csit
Enter the specialisation: nothing
{'cse': 'data science', 'csit': 'nothing'}

#### (e) Dictionary of employee ids as keys and their details(as tuple) as values.

In [13]:
d5={}
import random as r
for i in range(2):
    l=[]
    id=r.randint(1,11)
    name=input("Enter your name: ")
    l.append(name)
    phn=input("Enter your number: ")
    l.append(phn)
    d5[id]=tuple(l)
print(d5)

Enter your name: abhishek
Enter your number: 346633
Enter your name: subham
Enter your number: 354647
{11: ('abhishek', '346633'), 8: ('subham', '354647')}

#### (f) Dictionary of subject code as key and subject details(as list) such as course name, reference book, teacher name, department etc. as values.

In [17]:
d6={}
import random as r
for i in range(2):
    l=[]
    sub_code=r.randint(1,11)+100
    sub=input("Enter your subject: ")
    l.append(sub)
    ref_book=input("Enter the reference book: ")
    l.append(ref_book)
    d6[sub_code]=tuple(l)
print(d6)

Enter your subject: dsw
Enter the reference book: python
Enter your subject: ad
Enter the reference book: learnwithme
{108: ('dsw', 'python'), 106: ('ad', 'learnwithme')}

#### Q8. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every output in your assignment copy.

In [28]:
#(a)
dictObj = {'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'),
'int': 165, 'float': 99.56, 'string':'some sample text'}
print(dictObj)
print(type(dictObj))
#(dict('key':'value')
dictObj[10] = 'New added value'
print(dictObj)
print(dictObj[10])
print(dictObj['int'])
print(dictObj['colors'])
#print(dictObj['10']) -- error
print(dictObj[10])

{'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text'}
<class 'dict'>
{'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value'}
New added value
165
('red', 'blue', 'green')
New added value

In [38]:
#(b)
dictObj2 = {'Bob':10, 'Joe':34, 'Will':77, 'Limba':55, 'Will':36, 'XXXXX':100}
print('Limba' in dictObj2)
print(55 in dictObj2)
print('55' in dictObj2)
print('XXXXXX' in dictObj2)
dictObj2['Will'] = ' '.join(['I', 'am', 'ancient', '10', 'years old'])
dictObj2['Will']
#dictObj2.pop() --error
dictObj2.pop('Will')
print(dictObj2)

True
False
False
False
{'Bob': 10, 'Joe': 34, 'Limba': 55, 'XXXXX': 100}

In [43]:
#(c)
list(dictObj.keys())
list(dictObj.values())
list(dictObj.items())
dictObj['iter'] = 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH'
list(dictObj.keys())
list(dictObj.values())
list(dictObj.items())
print(dictObj)
#dictObj.update('b':'foo','c':12) --error
print(dictObj)

{'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value', 'iter': 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH'}
{'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value', 'iter': 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH'}

In [1]:
#(d)
myDict = {}
keyList = range(10)
valueList = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'G', 'I', 'J']
for key, value in zip(keyList, valueList):
    myDict[key] = value
print(myDict)

{0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E', 5: 'F', 6: 'G', 7: 'G', 8: 'I', 9: 'J'}

In [2]:
#(e)
from collections import defaultdict
words = ['duck', 'apple', 'dog', 'bat', 'cat', 'cup', 'bar', 'atom', 'book', 'dance']
myDict = defaultdict(list)
for w in words:
    myDict[w[0]].append(w)
print(myDict)

defaultdict(<class 'list'>, {'d': ['duck', 'dog', 'dance'], 'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book'], 'c': ['cat', 'cup']})

#### Q9. Develop Python Programs for the following below scenario.
#### (a) Write a Python Program which will prompt user to ask enter his/her name, profession, mobile number, employment organization, email id etc. Once you receive the input values from the user programmatically store these values into Dictionary objects such as mobile number is the key and other details as tuple object. Try to enter details for at least 7 objects.

In [2]:
userD={}
for i in range(2):
    name=input("Enter your name: ")
    profe=input("Enter your profession: ")
    mobileN=input("Enter your mobile no: ")
    org=input("Enter your Employment organisation: ")
    email=input("Enter your Emil id: ")
    userD[mobileN]=(name,profe,org,email)
print("User details dict: ",userD)

Enter your name: bhghb
Enter your profession: dgszg
Enter your mobile no: 536
Enter your Employment organisation: bfb
Enter your Emil id: dhd
Enter your name: ngdng
Enter your profession: dgbdbg
Enter your mobile no: 67
Enter your Employment organisation: hv
Enter your Emil id: blbl
User details dict:  {'536': ('bhghb', 'dgszg', 'bfb', 'dhd'), '67': ('ngdng', 'dgbdbg', 'hv', 'blbl')}

#### (b) Develop a Python program which will take lower limit +ve integer and higher limit +ve integer values from the user as user input(lower limit should be lesser than the higher limit). Following that calculate factors of those elements within the range and store them as key value pairs(dictionary object) such as the number is the key and factors are as values of a list object and display them.

In [1]:
l= int(input ("Enter the Lower Value: "))  
u= int(input ("Enter the Upper Value: "))
def fact(n):
    ftr=[]
    for i in range(1,n+1):
        if n%i==0:
            ftr.append(i)
    return ftr
d={} 
for i in range(l,u+1):
    d.update({l:fact(l)})
print(d)

Enter the Lower Value: 2
Enter the Upper Value: 6
{2: [1, 2]}

#### (c) Modify the Question No. (a) to develop a Python program which will consider name as the key and rest values into tuple as the value. Without using any predefined sort() method use your own logic to sort them based on name and finally display them as output.

In [21]:
userD={}
for i in range(2):
    name=input("Enter your name: ")
    profe=input("Enter your profession: ")
    mobileN=input("Enter your mobile no: ")
    org=input("Enter your Employment organisation: ")
    email=input("Enter your Emil id: ")
    userD[name]=(mobileN,profe,org,email)
print("User details dict: ",userD)

Enter your name: cytc
Enter your profession: shsh
Enter your mobile no: 36
Enter your Employment organisation: dgh
Enter your Emil id: gg
Enter your name: fjfj
Enter your profession: dhdjh
Enter your mobile no: 637
Enter your Employment organisation: dgh
Enter your Emil id: hrh
User details dict:  {'cytc': ('36', 'shsh', 'dgh', 'gg'), 'fjfj': ('637', 'dhdjh', 'dgh', 'hrh')}

#### 10. What is a Set Object in Python? Write different syntax, how we create a Set object? For the following questions create Set object of each scenario and display them as output.
#### (a) Set of all cricket players currently working in Indian Cricket Team.

In [22]:
s=[]
print("Set of all active cricketers playing now: ")
for i in range(11):
    n=input()
    s.append(n)
print(set(s))

Enter all active cricketers playing now:
bd
dh
gdszg
sgs
sg
sg
dsg
dgsdg
gsg
yry
eyy
{'sgs', 'dsg', 'yry', 'eyy', 'dgsdg', 'dh', 'gsg', 'bd', 'sg', 'gdszg'}

#### (b) Set of all 3rd semester courses.

In [25]:
s=[]
print("Set of all 3rd sem subjects: ")
for i in range(5):
    n=input()
    s.append(n)
print(set(s))

Enter all 3rd subjects:
enge
gsg
gdg
gdg
gd
{'gdg', 'gd', 'gsg', 'enge'}

#### (c) Set of all books you are following for this semester.

In [26]:
s=[]
print("Set of all books: ")
for i in range(5):
    n=input()
    s.append(n)
print(set(s))

Set of all books:
af
ry
mvm
wr
gjfj
{'af', 'gjfj', 'ry', 'wr', 'mvm'}

#### (d) Set of 10 integer objects(both -ve and +ve) which are divisible by 11.

In [29]:
s=[]
print("Set of all no divisble by 11: ")
while len(s)<=11:
    n=int(input())
    if n%11==0:
        s.append(n)
print(set(s))

Set of all no divisble by 11:
11
23
34
22
33
56
33
44
{33, 11, 44, 22}

#### (e) Set of words containing more than 3 vowels.

In [2]:
print("Enter the words containing more than 3 vowels")
s=set()
for i in range(1,6):
    word=input("Enter the word: ")
    s.add(word)
print(s)

Enter the words containing more than 3 vowels
Enter the word: adi
Enter the word: abha
Enter the word: abhishek
Enter the word: kaju
Enter the word: pritam
{'kaju', 'abhishek', 'pritam', 'adi', 'abha'}

#### 11. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every output in your assignment copy.

In [5]:
A = {5, 3, 1, 4, 4, 2, 3, 4, 5, '5', 2, '2', 7, '1'}
print(A)
B = {'6', 3, 1, 3, '5', '2', 7, '1', 6, '9', 10, 9, '6'}
print(B)
type(A)
type(B)
A.add('55')
print(A)
D=B
print(D)
print(D == B)
print(D == A)

{1, 2, 3, 4, 5, '5', 7, '1', '2'}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}
{1, 2, 3, 4, 5, '5', 7, '55', '1', '2'}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}
True
False

In [10]:
C = A
C.union(D)
print(C)
C.intersection(D)
print(C)
print(D)
C.intersection_update(D)
print(C)
print(D)
C.update(D)
print(C)

{1, 2, 3, 4, 5, 6, '5', 7, 9, 10, '55', '1', '2', '9', '6'}
{1, 2, 3, 4, 5, 6, '5', 7, 9, 10, '55', '1', '2', '9', '6'}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}
{1, 3, 6, '5', 7, 9, 10, '1', '2', '9', '6'}

In [11]:
C.add(54)
print(C)
C.add('Sample Text')
print(C)
print(D)
C.difference(D)
print(C)
print(D)
C.difference_update(D)
print(C)
print(D)

{1, 3, 6, '5', 7, 9, 10, '1', '2', '9', '6', 54}
{1, 3, 6, '5', 7, 9, 10, 'Sample Text', '1', '2', '9', '6', 54}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}
{1, 3, 6, '5', 7, 9, 10, 'Sample Text', '1', '2', '9', '6', 54}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}
{'Sample Text', 54}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}

In [14]:
C.symmetric_difference(D)
print(C)
C.symmetric_difference_update(D)
print(C)
A.issubset(B)
A.issuperset(B)
A.isdisjoint(B)
print(A)
print(B)

{'Sample Text', 54}
{1, 3, 7, '5', 6, 9, 10, 'Sample Text', '1', '2', '9', '6', 54}
{1, 3, 7, '5', 6, 9, 10, 'Sample Text', '1', '2', '9', '6', 54}
{'9', 1, 3, 6, '5', 7, 9, 10, '6', '1', '2'}

In [10]:
X = {1, 2, 3, 4, 2, 3, 5, 6, 1, 2, 9, 8}
print(X)
Y.add(7)
Y.add(100.65)
Y.add('ITER')
Y.add(76.89)
print(Y)
print(Y|X)
Y&X
Y-X
Y^X
print(Y)
print(X)
Y|=X
Y&=X
print(Y)
print(X)

{1, 2, 3, 4, 5, 6, 8, 9}

AttributeError: 'list' object has no attribute 'add'

#### 12. Develop Python Programs for the following below scenario.
#### (a) Write a Python Program which will prompt user to enter 10 different sample inputs like integer/float/string/boolean/list/tuple/set/dictionary objects etc. and store them into a Set object. Find out all unique characters present in that set object.

In [11]:
print("Enter sample of different integer/float/string/boolean/list/tuple/set/dictionary.... etc: ")
l=[]
for i in range(10):
    n=input()
    l.append(n)
print(set(l))

Enter sample of different integer/float/string/boolean/list/tuple/set/dictionary.... etc:
10
10.0
"abhi"
true
[1,2,3]
(1,2,3)
{1,2,3}
{1:'abhi',2:'kaju',3:'pritam'
1
34.5
{'"abhi"', '[1,2,3]', '(1,2,3)', '10', '10.0', '1', "{1:'abhi',2:'kaju',3:'pritam'", '{1,2,3}', 'true', '34.5'}

#### (b) Develop a Python program which will prompt user to enter 15 positive numbers randomly(repetition allowed) and divide all those unique numbers into two different list objects such that one list con- tains prime numbers and another list contains composite numbers. Finally, display the output.

In [3]:
l1=[]
l2=[]
for i in range (15):
    n=int(input())
    if n > 1:  
        for j in range (2, int((n/2)+1)):  
            if (n % j) == 0:
                l2.append(n)
                break
        else: 
            l1.append(n)
print("Prime Numbers are: ",l1)  
print("Composite Numbers are: ",l2)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Prime Numbers are:  [2, 3, 5, 7, 11, 13]
Composite Numbers are:  [4, 6, 8, 9, 10, 12, 14, 15]

#### (c) Develop a Python script which will prompt the user to enter 10 student details such as roll number, name, Physics Mark, Chemistry Mark, Mathematics mark as tuple objects and display them. Finally update those student details with adding fields such as total mark, average mark, status(pass if average mark is > 60) by adding student details as list of tuples and display the output.

In [5]:
n=int(input("Enter no of students: "))
l1=[]
for i in range(n):
    l=[]
    roll=int(input("Enter roll no: "))
    l.append(roll)
    name=(input("Enter your name: "))
    l.append(name)
    phy=int(input("Enter your physics mark: "))
    l.append(phy)
    chem=int(input("Enter your chemistry mark: "))
    l.append(chem)
    math=int(input("Enter your math mark: "))
    l.append(math)
    l1=l
    l1.append(tuple(l2))
print(l1)

Enter no of students: 1
Enter roll no: 9164
Enter your name: Abhishek
Enter your physics mark: 91
Enter your chemistry mark: 79
Enter your math mark: 85
[9164, 'Abhishek', 91, 79, 85, (4, 6, 8, 9, 10, 12, 14, 15)]